*{
    margin: 0;
    padding: 0;
}

@font-face{
    font-family: "Montserrat";
    src: url(data:font/ttf;base64,ZXhwb3J0IGRlZmF1bHQgX193ZWJwYWNrX3B1YmxpY19wYXRoX18gKyAiZTJkNjBiYzQ5NTE3NTk4YzBjZThiOThmOGQ0ZTU3OWYudHRmIjs=) format("truetype")
}

html, body {
    font-family: "Montserrat", sans-serif;
}
